body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #fc3c30, #fcbc54);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.container {
    width: 600px;
    max-width: 90%;
    background: #fcf3e3;
    border-radius: 10px;
    box-shadow: 0 10px 30px #0000001a;
    overflow: hidden;
    position: relative;
    animation: fadeIn 1s ease-in-out;
    color: white;
}


.toggle-buttons {
    display: flex;
    justify-content: space-around;
    background: #fcf3e3;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.toggle-buttons label {
    font-size: 16px;
    font-weight: bold;
    color: #1c5c7e;
    cursor: pointer;
    transition: color 0.3s ease;
}

.toggle-buttons label:hover {
    color: #08acb8;
}


.form-box {
    padding: 20px;
    display: none;
    animation: slideIn 0.5s ease-in-out;
}

#show-login:checked ~ .form-box#login,
#show-register:checked ~ .form-box#register {
    display: block;
}

.form-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #1c5c7e;
    text-align: center;
}

.form-box form {
    display: flex;
    flex-direction: column;
}

.form-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.form-box input:focus {
    border-color: #1c5c7e;
    outline: none;
}

.form-box button {
    padding: 10px;
    background: #1c5c7e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.form-box button:hover {
    background: #08acb8;
    transform: scale(1.05);
}


.error {
    font-size: 12px;
    color: #fc2e2e;
    margin-bottom: 10px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 95%;
        margin: 0 10px;
    }

    .toggle-buttons label {
        font-size: 14px;
    }

    .form-box h2 {
        font-size: 20px;
    }

    .form-box input,
    .form-box button {
        font-size: 14px;
        padding: 8px;
    }
}
