<!DOCTYPE html>
<html>
    <head>
        <title>Add Dish</title>
        <link rel="stylesheet" href="add-info.css">
    </head>

    <body>
        <header>
            <div class="navbar">
                <div id="logo">LOGO</div>
    
                <div class="dropdown-menu">
                    <button id="dropdown-button">Admin</button>
                    <div id="dropdown-content">
                        <a href="profile-admin.html">Profile</a>
                        <a href="home-admin.html">Home</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href="#">Help</a>
                        <a href="index.html">Log Out</a>
                    </div>
                </div>
            </div>
        </header>
    
        <main>
            <div class = "form-container">
            <form action="" method="POST">
                <h2>Add Dish</h2>
            
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            
                <label for="address">Description</label>
                <input type="text" id="description" name="description">
            
                <label for="price">Price</label>
                <input type="number" id="price" name="price">
            
                <label for="dishType">Dish Type</label>
                <select id="dishType" name="dishType">
                  <option value="SALAD">Salad</option>
                  <option value="STARTER">Starter</option>
                  <option value="MAIN_COURSE">Main Course</option>
                  <option value="DESSERT">Dessert</option>
                  <option value="PIZZA">Pizza</option>
                  <option value="PASTA">Pasta</option>
                  <option value="SUSHI">Sushi</option>
                </select>
            
                <!--<label for="restaurantPicture">Restaurant Picture URL</label>
                <input type="text" id="restaurantPicture" name="restaurantPicture">-->
            
                <button type="submit">Add Restaurant</button>
              </form>
            </div>
        </main>
    
        <footer>
            
        </footer>
    </body>
</html>