<!DOCTYPE html>
<html>
    <head>
        <title>Add Restaurant</title>
        <link rel="stylesheet" href="add-restaurant.css">
    </head>

    <body>
        <header>
            <div class="navbar">
                <div id="logo">LOGO</div>
    
                <div class="dropdown-menu">
                    <button id="dropdown-button">Admin</button>
                    <div id="dropdown-content">
                        <a href="profile-admin.html">Profile</a>
                        <a href="home-admin.html">Home</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href="#">Help</a>
                        <a href="index.html">Log Out</a>
                    </div>
                </div>
            </div>
        </header>
    
        <main>
            <div class = "form-container">
            <form action="/restaurants/new" method="POST">
                <h2>Add Restaurant</h2>
            
                <label for="name">Restaurant Name</label>
                <input type="text" id="name" name="name">
            
                <label for="address">Address</label>
                <input type="text" id="address" name="address">
            
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" name="phoneNumber">
            
                <label for="openingTime">Opening Time</label>
                <input type="time" id="openingTime" name="openingTime">
            
                <label for="closingTime">Closing Time</label>
                <input type="time" id="closingTime" name="closingTime">
            
                <label for="restaurantType">Restaurant Type</label>
                <select id="restaurantType" name="restaurantType">
                  <option value="FAST_FOOD">Fast Food</option>
                  <option value="ASIAN">Asian</option>
                  <option value="ITALIAN">Italian</option>
                  <option value="MEDITERRANEAN">Mediterranean</option>
                  <option value="MULTI_CUISINE_RESTAURANT">Multi Cuisine Restaurant</option>
                  <option value="BULGARIAN">Bulgarian</option>
                </select>
            
                <label for="restaurantPicture">Restaurant Picture URL</label>
                <input type="text" id="restaurantPicture" name="restaurantPicture">
            
                <button type="submit">Add Restaurant</button>
              </form>
            </div>
        </main>
    
        <footer>
            
        </footer>
    </body>
</html>