
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Orders</title>
    <link rel="stylesheet" href="/css/all-orders.css">
</head>
<body>
<header>
    <div class="logo">
        <img src="/img/We-Tried-logo3.png" alt="WeTried logo" class="logo">
    </div>
    <nav>
        <a th:href="@{/deliverer-orders}" class="nav-button">My Ordersssss</a>
        <div class="dropdown">
            <a href="#" class="nav-button">Account</a>
            <div class="dropdown-content">
                <a th:href="@{/deliveries/{delivererId}/profile(id=${deliverer.id})}">Profile</a>
                <a th:href="@{/logout}">Log Out</a>
            </div>
        </div>
    </nav>
</header>

<div class="orders-container">
    <div class="order-card" th:each="order : ${allOrders}">
        <img src="https://via.placeholder.com/150" alt="Restaurant" class="restaurant-img">
        <div class="order-info">
            <h3 th:text="${order.restaurant.name}">Restaurant Name</h3>

            <p class="items">Items:</p>
            <ul>
                <li th:each="item : ${order.orderItems}"
                    th:text="${item.quantity} + 'x ' + ${item.dish.name}">2x Burger</li>
            </ul>

            <p class="price" th:text="'Price: $' + ${order.totalPrice}">Price: $18.50</p>
            <p class="address" th:text="'Delivery Address: ' + ${order.deliveryAddress}">Delivery Address: 123 Main St</p>
            <p class="orderplaced" th:text="'Order placed at: ' + ${#temporals.format(order.orderDate, 'HH:mm:ss dd-MM-yyyy')}">
                Order placed at: 12:00
            </p>
            <p class="phone" th:text="'Phone number: ' + ${order.phoneNumber}">Phone number: 12345678</p>
        </div>
        <div class="checkbox-container">
            <input type="checkbox" th:id="'order' + ${order.id}" style="transform: scale(1.5);">
            <label th:for="'order' + ${order.id}"></label>
        </div>
    </div>
</div>

<button id="addButton">Add</button>
</body>
</html>
