<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/css/home.css">
    </head>

    <body>
        <header>
            <div class="navbar">
                <div id="logo">LOGO</div>
    
                <div class="search-box-container">
                    <input type="text" class="search-box" placeholder="Search here...">
                    <button class="search-button">Search</button>
                </div>
    
                <div class="dropdown-menu">
                    <button id="dropdown-button">Admin</button>
                    <div id="dropdown-content">
                        <a href="profile-user.html">Profile</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href="#">Help</a>
                        <a href="index.html">Log Out</a>
                    </div>
                </div>
            </div>
        </header>
    
        <main>
            
            <div class="edit-buttons">
                <a href = "add-restaurant.html"><button class="add"> Add</button></a>
                <button class="delete"> Delete</button>
                <button class="save"></i> Save</button>
            </div>
    
            <br>
            <hr>
            <br>

            <div class="restaurants-list">
                <div class="restaurants">
                    <a href="restaurant1-admin.html">
                        <img src="images/restaurant1.jpg" alt="Pizzaria Heaven">
                    </a>
                    <div class="description">Pizzaria Heaven</div>
                </div>
    
                <div class="restaurants">
                    <a href="restaurant2-admin.html">
                        <img src="images/restaurant2.jpg" alt="Asian Point">
                    </a>
                    <div class="description">Asian Point</div>
                </div>
    
                <div class="restaurants">
                    <a href="restaurant3-admin.html">
                        <img src="images/restaurant3.jpg" alt="Bulgarian Devotion">
                    </a>
                    <div class="description">Bulgarian Devotion</div>
                </div>
    
                <div class="restaurants">
                    <a href="restaurant4-admin.html">
                        <img src="images/restaurant4.jpg" alt="Italiana">
                    </a>
                    <div class="description">Italiana</div>
                </div>
    
                <div class="restaurants">
                    <a href="restaurant5-admin.html">
                        <img src="images/restaurant5.jpg" alt="Mediterranean Guy">
                    </a>
                    <div class="description">Mediterranean Guy</div>
                </div>
            </div>
    
            <a href="shopping-cart.html">
                <div class="cart-icon">
                    🛒
                </div>
            </a>
    
            <br>
            <hr>
            <br>
        </main>
    
        <footer>
            <div class="about-us">
                <strong>WeDeliver</strong><br>
                <p>WeTried, founded in 2025, offers fast and reliable food delivery from a wide range of restaurants.<br>
                    Our goal is to provide excellent service and ensure every customer is satisfied with their experience.</p>
    
                <p>Find us on:<br>
                    📸 Instagram: <a href="https://www.instagram.com">@wedeliver</a><br>
                    📘 Facebook: <a href="https://www.facebook.com">WeDeliver</a>
                </p>
    
                <p>Or you can call us on 📞 +359*********<br>
                    and send us an email on 📧 wedeliver@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
