<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeDeliver</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<main>

    <div class = "all">
        <div class = "text-container">
            <h1>Welcome to WeDeliver</h1>
        </div>

        <div class="container">
            <div class="buttons">
                <p>Please choose an option below:</p>
                <a href="/login" class="btn">Log In</a>
                <a href="/register" class="btn">Register</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>
