<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeDeliver</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

<main>
    <div class="container">
        <h1>Welcome to WeDeliver</h1>
        <p>Please choose an option below:</p>

        <div class="buttons">
            <a href="/login" class="btn">Log In</a>
            <a href="/register" class="btn">Register</a>
        </div>
    </div>
</main>

</body>
</html>