<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Profile</title>
    <link rel="stylesheet" href="/css/profile-user.css"/>
</head>
<body>

<header>
    <div class="navbar">
        <img src="/img/We-Tried-logo3.png" alt="WeTried logo" class="logo">

        <div class="dropdown-menu">
            <button id="dropdown-button">User</button>
            <div id="dropdown-content">
                <a th:href="@{/restaurants}">Home</a>
                <a th:href="@{/logout}">Log Out</a>
            </div>
        </div>
    </div>
</header>

<main>

    <div class="profile-section" th:object="${user}">
        <div class="profile-circle">

            <img th:src="@{|/images/${user.profilePictureUrl}|}" alt="Profile Picture"/>

        </div>
        <div class="user-info">
            <p><strong>Username:</strong>
                <a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}">username</a>
            </p>
            <p><strong>Email:</strong> <span th:text="${user.email}">email@example.com</span></p>
            <p><strong>Password:</strong> ************</p>
        </div>
    </div>

    <h2 class="orders-title">My Orders</h2>
    <div class="orders">
        <div class="order-row" th:each="order : ${user.orders}">
            <span th:text="${#temporals.format(order.orderDate, 'yyyy-MM-dd')}">2025-04-01</span>
            <span th:text="${order.orderStatus}">Delivered</span>
            <span th:text="${order.totalPrice}">15.00</span>
        </div>
    </div>
</main>

<footer>
    <div class="about-us">
        WeDeliver<br/>
        <p>
            WeTried, founded in 2025, offers fast and reliable food delivery from a wide range of restaurants.
            Our goal is to provide excellent service and ensure every customer is satisfied with their experience.
        </p>
        <p>
            Find us on:<br/>
            📸 Instagram: <a href="https://www.instagram.com/wedeliver">@wedeliver</a><br/>
            📘 Facebook: <a href="https://www.facebook.com/wedeliver">WeDeliver</a>
        </p>
        <p>
            Or you can call us on 📞 +359*********<br/>
            and email us on 📧 wedeliver@gmail.com
        </p>
    </div>
</footer>

</body>
</html>
