<!DOCTYPE html>
<html>
    <head>
        <title>Bulgarian Devotion</title>
        <link rel = "stylesheet" href="../static/css/restaurant.css">
    </head>

    <body>
        <header>
            <div class = "navbar">
                <div id = "logo">LOGO</div>

                <div class = "search-box-container">
                        <input type="text" class = "search-box" placeholder="Search here...">
                        <button class="search-button">Search</button>
                </div>

                <div class = dropdown-menu>
                    <button id = "dropdown-button">Admin</button>
                    <div id = "dropdown-content">
                        <a href = "profile-user.html">Profile</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href = "">Help</a>
                        <a href= "home.html">Home</a>
                        <a href = "index.html">Log Out</a>
                    </div>
                </div>
        </div>

        </header>

        <main>

            <div class="edit-buttons">
                <a href="add-food.html"><button class="add"> Add</button></a>
                <button class="delete"> Delete</button>
                <button class="save"></i> Save</button>
            </div>

            <div class = "menus">
                <a href="#salads"><button>Salads</button></a>
                <a href="#starters"><button>Starters</button></a>
                <a href="#main-course"><button>Main Course</button></a>
                <a href="#desserts"><button>Desserts</button></a>
            </div>

            <br>
            <hr>
            <br>
            
            <div class="food-catalog">

                <div id="starters">
            
                    <div class="dish">
                        <img src="images/tarator.jpg" alt="Tarator">
                        <div class="description">Tarator<br>
                            <p class = "price"><b>4.30 lv.</b></p>
                            - Yogurt<br>
                            - Cucumbers<br>
                            - Garlic<br>
                            - Walnuts<br>
                            - Dill<br>
                            - Olive oil<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/soupshkembe.jpg" alt="Shkembe Soup">
                        <div class="description">Shkembe Soup<br>
                            <p class = "price"><b>6.20 lv.</b></p>
                            - Beef tripe<br>
                            - Garlic<br>
                            - Vinegar<br>
                            - Hot paprika<br>
                            - Milk<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kiopoolu.jpg" alt="Kyopoolu">
                        <div class="description">Kyopoolu<br>
                            <p class = "price"><b>5.20 lv.</b></p>
                            - Roasted eggplant<br>
                            - Bell peppers<br>
                            - Tomatoes<br>
                            - Garlic<br>
                            - Parsley<br>
                            - Sunflower oil<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/lutenitsa.jpg" alt="Lutenitsa">
                        <div class="description">Lutenitsa<br>
                            <p class = "price"><b>2.40 lv.</b></p>
                            - Roasted red peppers<br>
                            - Tomato puree<br>
                            - Carrots<br>
                            - Garlic<br>
                            - Oil<br>
                            - Sugar and salt<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="main-course">
            
                    <div class="dish">
                        <img src="images/moussaka.jpg" alt="Moussaka">
                        <div class="description">Moussaka<br>
                            <p class = "price"><b>10.20 lv.</b></p>
                            - Potatoes<br>
                            - Minced meat<br>
                            - Onion<br>
                            - Tomatoes<br>
                            - Eggs<br>
                            - Yogurt<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kavarma.jpg" alt="Kavarma">
                        <div class="description">Kavarma<br>
                            <p class = "price"><b>11.50 lv.</b></p>
                            - Pork meat<br>
                            - Onion<br>
                            - Bell peppers<br>
                            - Mushrooms<br>
                            - Tomatoes<br>
                            - Spices<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/sarmi.jpg" alt="Stuffed Cabbage Leaves">
                        <div class="description">Stuffed Cabbage Leaves<br>
                            <p class = "price"><b>13.60 lv.</b></p>
                            - Pickled cabbage leaves<br>
                            - Rice<br>
                            - Minced meat<br>
                            - Onion<br>
                            - Spices<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kyufte.jpg" alt="Meatballs">
                        <div class="description">Meatballs with Garnish<br>
                            <p class = "price"><b>12.10 lv.</b></p>
                            - Minced meat<br>
                            - Onion<br>
                            - Savory<br>
                            - Salt and pepper<br>
                            - Mashed potatoes or salad<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="salads">
            
                    <div class="dish">
                        <img src="images/shopska.jpg" alt="Shopska Salad">
                        <div class="description">Shopska Salad<br>
                            <p class = "price"><b>8.30 lv.</b></p>
                            - Tomatoes<br>
                            - Cucumbers<br>
                            - Roasted pepper<br>
                            - Onion<br>
                            - White brined cheese<br>
                            - Parsley<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/snejanka.jpg" alt="Snezhanka">
                        <div class="description">Snezhanka Salad<br>
                            <p class = "price"><b>6.50 lv.</b></p>
                            - Yogurt<br>
                            - Pickled cucumbers<br>
                            - Garlic<br>
                            - Dill<br>
                            - Walnuts<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/ruskaSalad.jpg" alt="Russian Salad">
                        <div class="description">Russian Salad<br>
                            <p class = "price"><b>5.90 lv.</b></p>
                            - Potatoes<br>
                            - Carrots<br>
                            - Pickles<br>
                            - Peas<br>
                            - Mayonnaise<br>
                            - Eggs<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/lettuceSalad.jpg" alt="Green Salad">
                        <div class="description">Green Salad<br>
                            <p class = "price"><b>3.30 lv.</b></p>
                            - Lettuce<br>
                            - Radishes<br>
                            - Spring onions<br>
                            - Olive oil and vinegar<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="desserts">
            
                    <div class="dish">
                        <img src="images/banitsa.jpg" alt="Banitsa">
                        <div class="description">Banitsa<br>
                            <p class = "price"><b>8.90 lv.</b></p>
                            - Filo pastry<br>
                            - White cheese<br>
                            - Eggs<br>
                            - Yogurt or sparkling water<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/tikvenik.jpg" alt="Tikvenik">
                        <div class="description">Tikvenik (Pumpkin Strudel)<br>
                            <p class = "price"><b>8.90 lv.</b></p>
                            - Filo pastry<br>
                            - Grated pumpkin<br>
                            - Sugar<br>
                            - Cinnamon<br>
                            - Walnuts<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/cremeCaramel.jpg" alt="Crème Caramel">
                        <div class="description">Crème Caramel<br>
                            <p class = "price"><b>7.40 lv.</b></p>
                            - Eggs<br>
                            - Sugar<br>
                            - Milk<br>
                            - Vanilla<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/garash.jpg" alt="Garash Cake">
                        <div class="description">Garash Cake<br>
                            <p class = "price"><b>9.20 lv.</b></p>
                            - Eggs<br>
                            - Sugar<br>
                            - Walnuts<br>
                            - Chocolate ganache<br>
                            <button class = "add">Add</button>
                        </div>
                    </div>
            
                </div>
            
            </div>
            
            
            <br>
            <hr>
            <br>
            
            <a href = "shopping-cart.html">
                <div class = "cart-icon">
                    🛒
                </div>
            </a>

        </main>

        <footer>
            <div class = "about-us">Bulgarian Devotion<br>
                <p>-------------------------</p>
                <p>Bulgarian Devotion, established in 1999, is the best place for you if you want a taste of the Bulgarian culinary.<br>
                It is known for its tasty and traditional dishes that are going to satisfy all your taste buds.</p>
                

                <p>Working Hours: 9:00am - 11:30pm<br></p>

                <p>Address: Sofia, Bulgaria str. ***** №**</p>

                <p>Call on 📞+359*********<br>
                Or send an email on bulgarian.devotion@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
