<!DOCTYPE html>
<html>
    <head>
        <title>Bulgarian Devotion</title>
        <link rel = "stylesheet" href="../static/css/restaurant.css">
    </head>

    <body>
        <header>
            <div class = "navbar">
                <div id = "logo">LOGO</div>

                <div class = "search-box-container">
                        <input type="text" class = "search-box" placeholder="Search here...">
                        <button class="search-button">Search</button>
                </div>

                <div class = dropdown-menu>
                    <button id = "dropdown-button">Admin</button>
                    <div id = "dropdown-content">
                        <a href = "profile-user.html">Profile</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href = "">Help</a>
                        <a href= "home.html">Home</a>
                        <a href = "index.html">Log Out</a>
                    </div>
                </div>
        </div>

        </header>

        <main>

            <div class="edit-buttons">
                <button class="edit"> Edit</button>
                <button class="save"> Save</button>
                <button class="cancel"></i> Cancel</button>
            </div>

            <div class = "menus">
                <a href="#salads"><button>Salads</button></a>
                <a href="#starters"><button>Starters</button></a>
                <a href="#main-course"><button>Main Course</button></a>
                <a href="#desserts"><button>Desserts</button></a>
            </div>

            <br>
            <hr>
            <br>
            
            <div class="food-catalog">

                <div id="starters">
            
                    <div class="dish">
                        <img src="images/tarator.jpg" alt="Tarator">
                        <div class="description">Tarator<br>
                            - Yogurt<br>
                            - Cucumbers<br>
                            - Garlic<br>
                            - Walnuts<br>
                            - Dill<br>
                            - Olive oil
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/soupshkembe.jpg" alt="Shkembe Soup">
                        <div class="description">Shkembe Soup<br>
                            - Beef tripe<br>
                            - Garlic<br>
                            - Vinegar<br>
                            - Hot paprika<br>
                            - Milk
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kiopoolu.jpg" alt="Kyopoolu">
                        <div class="description">Kyopoolu<br>
                            - Roasted eggplant<br>
                            - Bell peppers<br>
                            - Tomatoes<br>
                            - Garlic<br>
                            - Parsley<br>
                            - Sunflower oil
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/lutenitsa.jpg" alt="Lutenitsa">
                        <div class="description">Lutenitsa<br>
                            - Roasted red peppers<br>
                            - Tomato puree<br>
                            - Carrots<br>
                            - Garlic<br>
                            - Oil<br>
                            - Sugar and salt
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="main-course">
            
                    <div class="dish">
                        <img src="images/moussaka.jpg" alt="Moussaka">
                        <div class="description">Moussaka<br>
                            - Potatoes<br>
                            - Minced meat<br>
                            - Onion<br>
                            - Tomatoes<br>
                            - Eggs<br>
                            - Yogurt
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kavarma.jpg" alt="Kavarma">
                        <div class="description">Kavarma<br>
                            - Pork meat<br>
                            - Onion<br>
                            - Bell peppers<br>
                            - Mushrooms<br>
                            - Tomatoes<br>
                            - Spices
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/sarmi.jpg" alt="Stuffed Cabbage Leaves">
                        <div class="description">Stuffed Cabbage Leaves<br>
                            - Pickled cabbage leaves<br>
                            - Rice<br>
                            - Minced meat<br>
                            - Onion<br>
                            - Spices
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/kyufte.jpg" alt="Meatballs">
                        <div class="description">Meatballs with Garnish<br>
                            - Minced meat<br>
                            - Onion<br>
                            - Savory<br>
                            - Salt and pepper<br>
                            - Mashed potatoes or salad
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="salads">
            
                    <div class="dish">
                        <img src="images/shopska.jpg" alt="Shopska Salad">
                        <div class="description">Shopska Salad<br>
                            - Tomatoes<br>
                            - Cucumbers<br>
                            - Roasted pepper<br>
                            - Onion<br>
                            - White brined cheese<br>
                            - Parsley
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/snejanka.jpg" alt="Snezhanka">
                        <div class="description">Snezhanka Salad<br>
                            - Yogurt<br>
                            - Pickled cucumbers<br>
                            - Garlic<br>
                            - Dill<br>
                            - Walnuts
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/ruskaSalad.jpg" alt="Russian Salad">
                        <div class="description">Russian Salad<br>
                            - Potatoes<br>
                            - Carrots<br>
                            - Pickles<br>
                            - Peas<br>
                            - Mayonnaise<br>
                            - Eggs
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/lettuceSalad.jpg" alt="Green Salad">
                        <div class="description">Green Salad<br>
                            - Lettuce<br>
                            - Radishes<br>
                            - Spring onions<br>
                            - Olive oil and vinegar
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="desserts">
            
                    <div class="dish">
                        <img src="images/banitsa.jpg" alt="Banitsa">
                        <div class="description">Banitsa<br>
                            - Filo pastry<br>
                            - White cheese<br>
                            - Eggs<br>
                            - Yogurt or sparkling water
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/tikvenik.jpg" alt="Tikvenik">
                        <div class="description">Tikvenik (Pumpkin Strudel)<br>
                            - Filo pastry<br>
                            - Grated pumpkin<br>
                            - Sugar<br>
                            - Cinnamon<br>
                            - Walnuts
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/cremeCaramel.jpg" alt="Crème Caramel">
                        <div class="description">Crème Caramel<br>
                            - Eggs<br>
                            - Sugar<br>
                            - Milk<br>
                            - Vanilla
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/garash.jpg" alt="Garash Cake">
                        <div class="description">Garash Cake<br>
                            - Eggs<br>
                            - Sugar<br>
                            - Walnuts<br>
                            - Chocolate ganache
                        </div>
                    </div>
            
                </div>
            
            </div>
            
            
            <br>
            <hr>
            <br>

            <a href = "shopping-cart.html">
                <div class = "cart-icon">
                    🛒
                </div>
            </a>

        </main>

        <footer>
            <div class = "about-us">WeDeliver<br>
                <p>WeTried, founded in 2025, offers fast and reliable food delivery from a wide range of restaurants. <br>
                    Our goal is to provide excellent service and ensure every customer is satisfied with their experience.</p>

                <p>Find us on:<br>
                📸Instagram: <a href = "www.instagram.com">@wedeliver</a><br>
                📘Facebook: <a href = "www.facebook.com">WeDeliver</a>
                </p>

                <p>Or you can call us on 📞+359*********<br>
                and send us an email on 📧wedeliver@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
