<!DOCTYPE html>
<html>
    <head>
        <title>Pizzaria Heaven</title>
        <link rel = "stylesheet" href="../static/css/restaurant.css">
    </head>

    <body>
        <header>
            <div class = "navbar">
                <div id = "logo">LOGO</div>

                <div class = "search-box-container">
                        <input type="text" class = "search-box" placeholder="Search here...">
                        <button class="search-button">Search</button>
                </div>

                <div class = dropdown-menu>
                    <button id = "dropdown-button">Admin</button>
                    <div id = "dropdown-content">
                        <a href = "profile-user.html">Profile</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href = "">Help</a>
                        <a href= "home.html">Home</a>
                        <a href = "index.html">Log Out</a>
                    </div>
                </div>
        </div>

        </header>

        <main>

            <div class="edit-buttons">
                <a href="add-food.html"><button class="add"> Add</button></a>
                <button class="delete"> Delete</button>
                <button class="save"></i> Save</button>
            </div>

            <div class = "menus">
                <a href="#salads"><button>Salads</button></a>
                <a href="#starters"><button>Starters</button></a>
                <a href="#pizzas"><button>Pizzas</button></a>
                <a href="desserts"><button>Desserts</button></a>
            </div>

            <br>
            <hr>
            <br>
            
            <div class="food-catalog">

                <div id="starters">

                    <div class="dish">
                        <img src="images/bruschetta.jpg" alt="Bruschetta">
                        <div class="description">Bruschetta<br>
                            <p class = "price"><b>5.99 lv.</b></p>
                            - Toasted baguette slices<br>
                            - Fresh tomatoes<br>
                            - Garlic<br>
                            - Fresh basil<br>
                            - Extra virgin olive oil<br>
                            - Balsamic vinegar
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/mozzarellaSticks.jpg" alt="Mozzarella Sticks">
                        <div class="description">Mozzarella Sticks<br>
                            <p class = "price"><b>8.89 lv.</b></p>
                            - Mozzarella cheese<br>
                            - Bread crumbs<br>
                            - Flour<br>
                            - Eggs<br>
                            - Parmesan cheese<br>
                            - Marinara sauce
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/stuffedMushrooms.jpg" alt="Stuffed Mushrooms">
                        <div class="description">Stuffed Mushrooms<br>
                            <p class = "price"><b>12.99 lv.</b></p>
                            - Mushrooms<br>
                            - Garlic<br>
                            - Cream cheese<br>
                            - Parmesan cheese<br>
                            - Fresh parsley<br>
                            - Breadcrumbs
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/garlicBread.jpg" alt="Garlic Bread">
                        <div class="description">Garlic Bread<br>
                            <p class = "price"><b>9.70 lv.</b></p>
                            - Baguette or French bread<br>
                            - Garlic<br>
                            - Butter<br>
                            - Fresh parsley<br>
                            - Parmesan cheese
                        </div>
                    </div>
                
                </div>
                
                <br>
                <hr>
                <br>

                <div id = "pizzas">

                    <div class = "dish">
                        <img src = "images/pizzaMargarita.jpg" alt = "Pizza Margarita">
                        <div class = "description">Pizza Margarita<br>
                            <p class = "price"><b>15.69 lv.</b></p>
                            - Tomato sauce (San Marzano tomatoes, olive oil, garlic, salt, basil)<br>
                            - Fresh mozzarella di bufala<br>
                            - Fresh basil<br>
                            - Extra virgin olive oil<br>
                            - Traditional pizza dough
                        </div>
                    </div>

                    <div class ="dish">
                        <img src="images/pizzaPeperoni.jpg" alt="Pizza Pepperoni">
                        <div class="description">Pizza Pepperoni<br>
                            <p class = "price"><b>18.99 lv.</b></p>
                            - Tomato sauce <br>
                            - Mozzarella<br>
                            - Pepperoni slices<br>
                            - Extra virgin olive oil<br>
                            - Traditional pizza dough 
                        </div>
                    </div>
                    
                    <div class ="dish">
                        <img src="images/pizzaFourCheese.jpg" alt="Four Cheese Pizza">
                        <div class="description">Four Cheese Pizza<br>
                            <p class = "price"><b>14.30 lv.</b></p>
                            - Tomato sauce (optional)<br>
                            - Mozzarella<br>
                            - Parmesan<br>
                            - Gorgonzola<br>
                            - Ricotta<br>
                            - Extra virgin olive oil<br>
                            - Traditional pizza dough 
                        </div>
                    </div>
                    
                    <div class="dish">
                        <img src="images/pizzaVeggie.jpg" alt="Veggie Pizza">
                        <div class="description">Veggie Pizza<br>
                            <p class = "price"><b>19.50 lv.</b></p>
                            - Tomato sauce <br>
                            - Mozzarella<br>
                            - Bell peppers<br>
                            - Mushrooms<br>
                            - Black olives<br>
                            - Red onions<br>
                            - Fresh basil<br>
                            - Traditional pizza dough 
                        </div>
                    </div>

                </div>

                <br>
                <hr>
                <br>

                <div id="salads">

                    <div class="dish">
                        <img src="images/caesarSalad.jpg" alt="Caesar Salad">
                        <div class="description">Caesar Salad<br>
                            <p class = "price"><b>12.50 lv.</b></p>
                            - Romaine lettuce<br>
                            - Croutons<br>
                            - Parmesan cheese<br>
                            - Caesar dressing<br>
                            - Grilled chicken (optional)
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/greekSalad.jpg" alt="Greek Salad">
                        <div class="description">Greek Salad<br>
                            <p class = "price"><b>11.30 lv.</b></p>
                            - Cucumber<br>
                            - Tomatoes<br>
                            - Red onions<br>
                            - Kalamata olives<br>
                            - Feta cheese<br>
                            - Olive oil<br>
                            - Oregano
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/capreseSalad.jpg" alt="Caprese Salad">
                        <div class="description">Caprese Salad<br>
                            <p class = "price"><b>12.50 lv.</b></p>
                            - Fresh mozzarella<br>
                            - Tomatoes<br>
                            - Fresh basil<br>
                            - Extra virgin olive oil<br>
                            - Balsamic vinegar
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/spinachSalad.jpg" alt="Spinach Salad">
                        <div class="description">Spinach Salad<br>
                            <p class = "price"><b>10.30 lv.</b></p>
                            - Fresh spinach<br>
                            - Strawberries<br>
                            - Walnuts<br>
                            - Goat cheese<br>
                            - Balsamic vinaigrette dressing
                        </div>
                    </div>
                
                </div>  

                <br>
                <hr>
                <br>
                
                <div id="desserts">

                    <div class="dish">
                        <img src="images/tiramisu.jpg" alt="Tiramisu">
                        <div class="description">Tiramisu<br>
                            <p class = "price"><b>8.60 lv.</b></p>
                            - Ladyfingers<br>
                            - Mascarpone cheese<br>
                            - Espresso coffee<br>
                            - Cocoa powder<br>
                            - Sugar<br>
                            - Eggs
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/cannoli.jpg" alt="Cannoli">
                        <div class="description">Cannoli<br>
                            <p class = "price"><b>9.99 lv.</b></p>
                            - Crispy pastry shell<br>
                            - Ricotta cheese<br>
                            - Powdered sugar<br>
                            - Chocolate chips<br>
                            - Orange zest
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/pannaCotta.jpg" alt="Panna Cotta">
                        <div class="description">Panna Cotta<br>
                            <p class = "price"><b>7.99 lv.</b></p>
                            - Heavy cream<br>
                            - Sugar<br>
                            - Vanilla extract<br>
                            - Gelatin sheets<br>
                            - Fresh berries
                        </div>
                    </div>
                
                    <div class="dish">
                        <img src="images/nutellaPizza.jpg" alt="Nutella Pizza">
                        <div class="description">Nutella Pizza<br>
                            <p class = "price"><b>12.40 lv.</b></p>
                            - Pizza dough<br>
                            - Nutella chocolate spread<br>
                            - Powdered sugar<br>
                            - Fresh strawberries (optional)<br>
                            - Whipped cream (optional)
                        </div>
                    </div>
                
                </div>
                
            </div>
            
            <br>
            <hr>
            <br>

            <a href = "shopping-cart.html">
                <div class = "cart-icon">
                    🛒
                </div>
            </a>

        </main>

        <footer>
            <div class = "about-us">WeDeliver<br>
                <p>WeTried, founded in 2025, offers fast and reliable food delivery from a wide range of restaurants. <br>
                    Our goal is to provide excellent service and ensure every customer is satisfied with their experience.</p>

                <p>Find us on:<br>
                📸Instagram: <a href = "www.instagram.com">@wedeliver</a><br>
                📘Facebook: <a href = "www.facebook.com">WeDeliver</a>
                </p>

                <p>Or you can call us on 📞+359*********<br>
                and send us an email on 📧wedeliver@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
