<!DOCTYPE html>
<html>
    <head>
        <title>Mediterranean Guy</title>
        <link rel = "stylesheet" href="../static/css/restaurant.css">
    </head>

    <body>
        <header>
            <div class = "navbar">
                <div id = "logo">LOGO</div>

                <div class = "search-box-container">
                        <input type="text" class = "search-box" placeholder="Search here...">
                        <button class="search-button">Search</button>
                </div>

                <div class = dropdown-menu>
                    <button id = "dropdown-button">User</button>
                    <div id = "dropdown-content">
                        <a href = "profile-user.html">Profile</a>
                        <a href = "">Help</a>
                        <a href= "home.html">Home</a>
                        <a href = "index.html">Log Out</a>
                    </div>
                </div>
        </div>

        </header>

        <main>

            <div class = "menus">
                <a href="#soups"><button>Soups</button></a>
                <a href="#salads"><button>Salads</button></a>
                <a href="#main-course"><button>Main Course</button></a>
                <a href="#desserts"><button>Desserts</button></a>
            </div>

            <br>
            <hr>
            <br>
            
            <div class="food-catalog">

                <div id="soups">
            
                    <div class="dish">
                        <img src="images/lentilSoup.jpg" alt="Lentil Soup">
                        <div class="description">Lentil Soup<br>
                            - Lentils<br>
                            - Tomatoes<br>
                            - Carrots<br>
                            - Onions<br>
                            - Garlic<br>
                            - Olive oil<br>
                            - Spices (cumin, paprika)
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/tomatoSoup.jpg" alt="Tomato Soup">
                        <div class="description">Tomato Soup<br>
                            - Tomatoes<br>
                            - Garlic<br>
                            - Onions<br>
                            - Olive oil<br>
                            - Basil<br>
                            - Cream (optional)
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/eggplantSoup.jpg" alt="Eggplant Soup">
                        <div class="description">Eggplant Soup<br>
                            - Eggplant<br>
                            - Tomatoes<br>
                            - Onions<br>
                            - Garlic<br>
                            - Olive oil<br>
                            - Cumin
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/avgolemono.jpg" alt="Avgolemono Soup">
                        <div class="description">Avgolemono Soup<br>
                            - Chicken broth<br>
                            - Lemon<br>
                            - Eggs<br>
                            - Rice<br>
                            - Chicken (optional)
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="salads">
            
                    <div class="dish">
                        <img src="images/greekSalad.jpg" alt="Greek Salad">
                        <div class="description">Greek Salad<br>
                            - Tomatoes<br>
                            - Cucumbers<br>
                            - Red onions<br>
                            - Kalamata olives<br>
                            - Feta cheese<br>
                            - Olive oil<br>
                            - Oregano
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/tabbouleh.jpg" alt="Tabbouleh">
                        <div class="description">Tabbouleh<br>
                            - Parsley<br>
                            - Tomatoes<br>
                            - Bulgur wheat<br>
                            - Olive oil<br>
                            - Lemon juice<br>
                            - Green onions
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/fattoush.jpg" alt="Fattoush">
                        <div class="description">Fattoush<br>
                            - Romaine lettuce<br>
                            - Tomatoes<br>
                            - Cucumbers<br>
                            - Radishes<br>
                            - Fried pita bread<br>
                            - Lemon dressing
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/moutabal.jpg" alt="Moutabal">
                        <div class="description">Moutabal<br>
                            - Roasted eggplant<br>
                            - Tahini<br>
                            - Garlic<br>
                            - Olive oil<br>
                            - Lemon juice
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="main-course">
            
                    <div class="dish">
                        <img src="images/grilledLamb.jpg" alt="Grilled Lamb">
                        <div class="description">Grilled Lamb<br>
                            - Lamb chops<br>
                            - Olive oil<br>
                            - Lemon<br>
                            - Garlic<br>
                            - Rosemary<br>
                            - Grilled vegetables
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/chickenShawarma.jpg" alt="Chicken Shawarma">
                        <div class="description">Chicken Shawarma<br>
                            - Chicken thighs<br>
                            - Shawarma spices<br>
                            - Garlic<br>
                            - Yogurt<br>
                            - Pita bread<br>
                            - Tahini sauce
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/moussaka.jpg" alt="Moussaka">
                        <div class="description">Moussaka<br>
                            - Eggplant<br>
                            - Ground beef or lamb<br>
                            - Tomatoes<br>
                            - Onions<br>
                            - Bechamel sauce<br>
                            - Spices (cinnamon, nutmeg)
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/fishTagine.jpg" alt="Fish Tagine">
                        <div class="description">Fish Tagine<br>
                            - White fish fillets<br>
                            - Tomatoes<br>
                            - Onions<br>
                            - Garlic<br>
                            - Olives<br>
                            - Preserved lemons
                        </div>
                    </div>
            
                </div>
            
                <br>
                <hr>
                <br>
            
                <div id="desserts">
            
                    <div class="dish">
                        <img src="images/baklava.jpg" alt="Baklava">
                        <div class="description">Baklava<br>
                            - Phyllo dough<br>
                            - Walnuts or pistachios<br>
                            - Honey<br>
                            - Sugar<br>
                            - Cinnamon
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/knafeh.jpg" alt="Knafeh">
                        <div class="description">Knafeh<br>
                            - Semolina dough<br>
                            - Cheese (such as Akkawi)<br>
                            - Sugar syrup<br>
                            - Pistachios<br>
                            - Rosewater (optional)
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/maamoul.jpg" alt="Ma'amoul">
                        <div class="description">Ma'amoul<br>
                            - Semolina dough<br>
                            - Dates or walnuts<br>
                            - Sugar<br>
                            - Rosewater
                        </div>
                    </div>
            
                    <div class="dish">
                        <img src="images/attaHalva.jpg" alt="Atta Halva">
                        <div class="description">Atta Halva<br>
                            - Whole wheat flour<br>
                            - Ghee<br>
                            - Sugar<br>
                            - Cardamom<br>
                            - Almonds
                        </div>
                    </div>
            
                </div>
            
            </div>
            
            <br>
            <hr>
            <br>

            <a href = "shopping-cart.html">
                <div class = "cart-icon">
                    🛒
                </div>
            </a>

        </main>

        <footer>
            <div class = "about-us">WeDeliver<br>
                <p>WeTried, founded in 2025, offers fast and reliable food delivery from a wide range of restaurants. <br>
                    Our goal is to provide excellent service and ensure every customer is satisfied with their experience.</p>

                <p>Find us on:<br>
                📸Instagram: <a href = "www.instagram.com">@wedeliver</a><br>
                📘Facebook: <a href = "www.facebook.com">WeDeliver</a>
                </p>

                <p>Or you can call us on 📞+359*********<br>
                and send us an email on 📧wedeliver@gmail.com</p>
            </div>
        </footer>
    </body>
</html>