<!DOCTYPE html>
<html>
    <head>
        <title>Italiana</title>
        <link rel = "stylesheet" href="../static/css/restaurant.css">
    </head>

    <body>
        <header>
            <div class = "navbar">
                <div id = "logo">LOGO</div>

                <div class = "search-box-container">
                        <input type="text" class = "search-box" placeholder="Search here...">
                        <button class="search-button">Search</button>
                </div>

                <div class = dropdown-menu>
                    <button id = "dropdown-button">Admin</button>
                    <div id = "dropdown-content">
                        <a href="profile-admin.html">Profile</a>
                        <a href="orders-admin.html">Orders</a>
                        <a href = "">Help</a>
                        <a href= "home.html">Home</a>
                        <a href = "index.html">Log Out</a>
                    </div>
                </div>
        </div>

        </header>

        <main>

            <div class="edit-buttons">
                <a href="add-food.html"><button class="add"> Add</button></a>
                <button class="delete"> Delete</button>
                <button class="save"></i> Save</button>
            </div>

            <div class = "menus">
                <a href="#starters"><button>Starters</button></a>
                <a href="#pasta"><button>Pasta</button></a>
                <a href="#pizzas"><button>Pizza</button></a>
                <a href="#desserts"><button>Desserts</button></a>
            </div>

            <br>
            <hr>
            <br>
            
            <div id="starters">

                <div class="dish">
                    <img src="images/bruschetta.jpg" alt="Bruschetta">
                    <div class="description">Bruschetta<br>
                        <p class = "price"><b>7.30 lv.</b></p>
                        - Toasted baguette slices<br>
                        - Fresh tomatoes<br>
                        - Garlic<br>
                        - Basil<br>
                        - Olive oil<br>
                        - Balsamic vinegar<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/mozzarellaSticks.jpg" alt="Mozzarella Sticks">
                    <div class="description">Mozzarella Sticks<br>
                        <p class = "price"><b>8.90 lv.</b></p>
                        - Mozzarella cheese<br>
                        - Bread crumbs<br>
                        - Flour<br>
                        - Eggs<br>
                        - Marinara sauce<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/caprese.jpg" alt="Caprese Salad">
                    <div class="description">Caprese Salad<br>
                        <p class = "price"><b>10.40 lv.</b></p>
                        - Fresh mozzarella<br>
                        - Tomatoes<br>
                        - Basil<br>
                        - Olive oil<br>
                        - Balsamic glaze<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/arancini.jpg" alt="Arancini">
                    <div class="description">Arancini<br>
                        <p class = "price"><b>6.50 lv.</b></p>
                        - Risotto rice balls<br>
                        - Mozzarella filling<br>
                        - Bread crumbs<br>
                        - Marinara sauce<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
            </div>

            <br>
            <hr>
            <br>

            <div id="pasta">

                <div class="dish">
                    <img src="images/spaghettiCarbonara.jpg" alt="Spaghetti Carbonara">
                    <div class="description">Spaghetti Carbonara<br>
                        <p class = "price"><b>15.60 lv.</b></p>
                        - Spaghetti<br>
                        - Pancetta<br>
                        - Eggs<br>
                        - Pecorino Romano<br>
                        - Black pepper<br>
                        <button class = "add">Add</button>
                    </div>
                </div>

                <div class="dish">
                    <img src="images/penneArrabbiata.jpg" alt="Penne Arrabbiata">
                    <div class="description">Penne Arrabbiata<br>
                        <p class = "price"><b>17.40 lv.</b></p>
                        - Penne pasta<br>
                        - Spicy tomato sauce<br>
                        - Garlic<br>
                        - Chili flakes<br>
                        - Olive oil<br>
                        - Parsley<br>
                        <button class = "add">Add</button>
                    </div>
                </div>

                <div class="dish">
                    <img src="images/lasagna.jpg" alt="Lasagna">
                    <div class="description">Lasagna<br>
                        <p class = "price"><b>16.20 lv.</b></p>
                        - Lasagna sheets<br>
                        - Bolognese sauce<br>
                        - Bechamel sauce<br>
                        - Mozzarella<br>
                        - Parmesan<br>
                        <button class = "add">Add</button>
                    </div>
                </div>

                <div class="dish">
                    <img src="images/fettuccineAlfredo.jpg" alt="Fettuccine Alfredo">
                    <div class="description">Fettuccine Alfredo<br>
                        <p class = "price"><b>14.80 lv.</b></p>
                        - Fettuccine pasta<br>
                        - Heavy cream<br>
                        - Parmesan cheese<br>
                        - Butter<br>
                        - Garlic<br>
                        <button class = "add">Add</button>
                    </div>
                </div>

            </div>

            <br>
            <hr>
            <br>

            
            <div id="pizzas">

                <div class="dish">
                    <img src="images/prosciuttoPizza.jpg" alt="Prosciutto Pizza">
                    <div class="description">Prosciutto Pizza<br>
                        <p class = "price"><b>16.90 lv.</b></p>
                        - Tomato sauce<br>
                        - Mozzarella<br>
                        - Prosciutto crudo<br>
                        - Arugula<br>
                        - Shaved Parmesan<br>
                        - Olive oil<br>
                        - Pizza dough<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
            
                <div class="dish">
                    <img src="images/whitePizza.jpg" alt="White Pizza">
                    <div class="description">White Pizza<br>
                        <p class = "price"><b>18.20 lv.</b></p>
                        - Ricotta cheese<br>
                        - Mozzarella<br>
                        - Garlic<br>
                        - Olive oil<br>
                        - Spinach (optional)<br>
                        - Pizza dough<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
            
                <div class="dish">
                    <img src="images/diavolaPizza.jpg" alt="Diavola Pizza">
                    <div class="description">Pizza Diavola<br>
                        <p class = "price"><b>19.30 lv.</b></p>
                        - Tomato sauce<br>
                        - Mozzarella<br>
                        - Spicy salami<br>
                        - Chili flakes<br>
                        - Olive oil<br>
                        - Pizza dough<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
            
                <div class="dish">
                    <img src="images/trufflePizza.jpg" alt="Truffle Pizza">
                    <div class="description">Truffle Pizza<br>
                        <p class = "price"><b>21.90 lv.</b></p>
                        - Mozzarella<br>
                        - Truffle cream or oil<br>
                        - Mushrooms<br>
                        - Parmesan<br>
                        - Pizza dough<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
            
            </div>

            
            <br>
            <hr>
            <br>


            <div id="desserts">

                <div class="dish">
                    <img src="images/tiramisu.jpg" alt="Tiramisu">
                    <div class="description">Tiramisu<br>
                        <p class = "price"><b>9.99 lv.</b></p>
                        - Ladyfingers<br>
                        - Mascarpone cheese<br>
                        - Espresso<br>
                        - Cocoa powder<br>
                        - Sugar<br>
                        - Eggs<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/pannaCotta.jpg" alt="Panna Cotta">
                    <div class="description">Panna Cotta<br>
                        <p class = "price"><b>8.30 lv.</b></p>
                        - Heavy cream<br>
                        - Vanilla<br>
                        - Sugar<br>
                        - Gelatin<br>
                        - Berries<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/cannoli.jpg" alt="Cannoli">
                    <div class="description">Cannoli<br>
                        <p class = "price"><b>11.30 lv.</b></p>
                        - Pastry shell<br>
                        - Ricotta filling<br>
                        - Powdered sugar<br>
                        - Chocolate chips<br>
                        - Orange zest<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
                <div class="dish">
                    <img src="images/zeppole.jpg" alt="Zeppole">
                    <div class="description">Zeppole<br>
                        <p class = "price"><b>6.60 lv.</b></p>
                        - Fried dough balls<br>
                        - Powdered sugar<br>
                        - Custard (optional)<br>
                        - Cherry topping (optional)<br>
                        <button class = "add">Add</button>
                    </div>
                </div>
        
            </div>
        
        </div>
            
            <br>
            <hr>
            <br>
            
            <a href = "shopping-cart.html">
                <div class = "cart-icon">
                    🛒
                </div>
            </a>

        </main>

        <footer>
            <div class = "about-us">Italiana<br>
                <p>-------------------------</p>
                <p>You want pasta, you want pizza - restaurant Italiana is your place!<br>
                Established in 2020, Italiana has all the Itallian food you need!</p>
                

                <p>Working Hours: 9:00am - 11:30pm<br></p>

                <p>Address: Sofia, Bulgaria str. ***** №**</p>

                <p>Call on 📞+359*********<br>
                Or send an email on italiana.restaurant@gmail.com</p>
            </div>
        </footer>
    </body>
</html>
