<!DOCTYPE html>
<html>
    <head>
        <title>Update Dish</title>
        <link rel="stylesheet" href="add-info.css">
    </head>

    <body>

    
        <main>
            <div class = "form-container">
            <form action="" method="POST">
                <h2>Update Dish</h2>
            
                <label for="name">Name</label>
                <input type="text" id="name" name="name">
            
                <label for="address">Description</label>
                <input type="text" id="description" name="description">
            
                <label for="price">Price</label>
                <input type="number" id="price" name="price">
            
                <label for="dishType">Dish Type</label>
                <select id="dishType" name="dishType">
                  <option value="SALAD">Salad</option>
                  <option value="STARTER">Starter</option>
                  <option value="MAIN_COURSE">Main Course</option>
                  <option value="DESSERT">Dessert</option>
                  <option value="PIZZA">Pizza</option>
                  <option value="PASTA">Pasta</option>
                  <option value="SUSHI">Sushi</option>
                </select>
            
                <!--<label for="restaurantPicture">Restaurant Picture URL</label>
                <input type="text" id="restaurantPicture" name="restaurantPicture">-->
            
                <button type="submit">Update Dish</button>
              </form>
            </div>
        </main>
    
        <footer>
            
        </footer>
    </body>
</html>